<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cadastro.css">
</head>

<body>
    <center>
        <form action="meu formulario">

            <h1>Cadastro</h1>
            <img src="imagens/logo.png">
            <br>
            <br>


            <span>Nome: <input type="text" name="nome" placeholder="Digite o seu nome" required> </span> <br>
            <span>E-mail: <input type="email" name="email" placeholder="Digite o seu E-mail" required> </span> <br>
            <span>Celular: <input type="tel" name="tel" placeholder="(xx) xx-xx-xx-xx" required> </span> <br>
            <span>Senha: <input type="password" name="password" placeholder="Digite a sua senha " required> </span> <br>
            <span>Senha: <input type="password" name="password" placeholder="Confirme a sua senha " required> </span>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>

            <input type="submit" name="" value="Fazer Cadastro">

        </form>
    </center>

</body>

</html>